<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${persona.nombre}"></h1>
<p th:text="${persona.edad}"></p>
<ul th:each="interes : ${persona.intereses}">
  <li th:text="${interes}"></li>
</ul>

<p th:if="${persona.edad<=17}">
    <a th:text="${persona.nombre} + ' es menor de edad porque tiene ' + ${persona.edad} + ' años'" ></a>
</p>
<p th:unless="${persona.edad}<=17"><a th:text="${persona.nombre} + ' es mayor de edad porque tiene ' + ${persona.edad} + ' años'"></a> </p>
</body>
</html>